---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 04 Mar 2020 15:24:05 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251?exclude=minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 995ms
      X-Forecast-Api-Calls:
      - '78'
      X-Response-Time:
      - 59.551ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583335445,"summary":"Clear","icon":"clear-day","nearestStormDistance":227,"nearestStormBearing":147,"precipIntensity":0,"precipProbability":0,"temperature":43.73,"apparentTemperature":43.73,"dewPoint":13.63,"humidity":0.29,"pressure":1018.3,"windSpeed":1.77,"windGust":5.38,"windBearing":146,"cloudCover":0.01,"uvIndex":1,"visibility":10,"ozone":325.9},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583334000,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":41.09,"apparentTemperature":41.09,"dewPoint":13.86,"humidity":0.33,"pressure":1018.8,"windSpeed":1.77,"windGust":5.52,"windBearing":149,"cloudCover":0.01,"uvIndex":1,"visibility":10,"ozone":325.7},{"time":1583337600,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":47.85,"apparentTemperature":47.85,"dewPoint":13.27,"humidity":0.25,"pressure":[...]
