---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=landscape&per_page=1&query=london
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID Ghseq5b1-ej-y4iki2FWJfWEhrmjq9nhNwUfXbOpbEw
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?orientation=landscape&page=4295&per_page=1&query=london>;
        rel="last", <https://api.unsplash.com/search/photos?orientation=landscape&page=2&per_page=1&query=london>;
        rel="next"
      X-Total:
      - '4295'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":4295,"total_pages":4295,"results":[{"id":"EXdXLrZXS9Q","created_at":"2017-09-18T15:08:33-04:00","updated_at":"2020-02-28T00:02:58-05:00","promoted_at":null,"width":7155,"height":4775,"color":"#091D25","description":"London","alt_description":"photo
        of Elizabeth Tower, London","urls":{"raw":"https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODIxMn0","full":"https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODIxMn0","regular":"https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODIxMn0","small":"https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODIxMn0","thumb":"https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODIxMn0"},"links":{"self":"https://api.unsplash.com/photos/EXdXLrZXS9Q","html":"https://unsplash.com/photos/EXdXLrZXS9Q","download":"https://unsplash.com/photos/EXdXLrZXS9Q/download","download_location":"https://api.unsplash.com/photos/EXdXLrZXS9Q/download"},"categories":[],"likes":534,"liked_by_user":false,"current_user_collections":[],"user":{"id":"ROBsUcgw9dI","updated_at":"2019-12-15T11:51:16-05:00","username":"evantdang","name":"Eva
        Dang","first_name":"Eva","last_name":"Dang","twitter_username":"evantdang","portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/evantdang","html":"https://unsplash.com/@evantdang","photos":"https://api.unsplash.com/users/evantdang/photos","likes":"https://api.unsplash.com/users/evantdang/likes","portfolio":"https://api.unsplash.com/users/evantdang/portfolio","following":"https://api.unsplash.com/users/evantdang/following","followers":"https://api.unsplash.com/users/evantdang/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1505761330-dbbc14bf86ee.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1505761330-dbbc14bf86ee.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1505761330-dbbc14bf86ee.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"evantdang","total_collections":0,"total_likes":11,"total_photos":3,"accepted_tos":true},"tags":[{"type":"search","title":"london"},{"type":"search","title":"architecture"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"wpU4veNGnHg","created_at":"2016-12-02T16:36:41-05:00","updated_at":"2020-02-14T00:03:25-05:00","promoted_at":"2016-12-02T16:36:41-05:00","width":5472,"height":3648,"color":"#0D0C0D","description":"7am
        shot","alt_description":"high rise buildings city scape photography","urls":{"raw":"https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9","full":"https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-1.2.1&q=85&fm=jpg&c[...]
